$letra: medium;
$tamaño: 100px ;
$color: #ededed;
$margin: 15px;
$pading: 15px;
$color2:#2C3E50;
$colornegro:#0000;
$colornaran:#f77206;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    @if $letra == chica{
        font-size: 0.7rem;
    }@else if $letra == medium{
        font-size: 1.2rem;
    }@else if $letra == large{
        font-size: 2rem;
    }@else{
        font-size: 3rem;
    }
}
body{
    background-color: $color;
    background: -webkit-linear-gradient(to right, #0a0e06, #050e01);
    background: linear-gradient(to right, #000201, rgb(100, 104, 103)); 
}
h2{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: $color
} 
.letrafont{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: $color;
}
.card-group{
    .card{
        img{
            width: 50%;
            height: 50%;
        }
    }
}
nav{
    .nav justify-content-center{
        .nav-item{
            a{
                color: $colornegro;
                a:hover{
                    color:$colornaran;
                }
            }
        }
    }
}
.footer-style {
    padding-top: 50px;
    background-color: $color2;
}
footer {
  color: $color;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: $color2;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: $color2;
}
